body{
background-color: #3898ec;
}

h1{
background-color: #e79fe6;
height: 33px;
text-align:center;
}

h2{
background-color: #e79fe6;
height: 33px;
text-align:center;

}

h3{
background-color: #e79fe6;
height: 33px;
text-align:center;

}
