body{
background-color: #1b7add;
}

h1{
background-color: #e79fe6;
height: 33px;
text-align:center;
margin: 0px;
}

h2{
background-color: #e79fe6;
height: 33px;
text-align:center;

}

h3{
background-color: #e79fe6;
height: 33px;
text-align:center;

}

h4{
text-align: center;
padding: 5px;
font-size: 24px;
}

.session_data_wrapper {
width: 100%;
align: center;
margin: auto;
color: #e6faff;
background-color: #3898ec;
border-radius: 20px;
text-align: center;
border: 2px solid white;
}

.session_data_table {
margin: auto;
padding:20px;
margin-top: 20px;
margin-bottom: 20px;
align: center;
width: 98%;
border: 2px solid white;
color: white;
border-radius: 10px;
background-color: #ffffff;;
text-align: center;
}

.session_data_table tr {
background-color: #1b7add;
color: #33ddff;
border-radius: 10px;
}

.session_data_table td {
border-radius: 6px;
padding: 8px;
}

a {
background-color: #005266
}
