body{
background-color: #3898ec;
}

h1{
background-color: #e79fe6;
height: 33px;
text-align:center;
}

h2{
background-color: #e79fe6;
height: 33px;
text-align:center;

}

h3{
background-color: #e79fe6;
height: 33px;
text-align:center;

}

.session_data_wrapper {
width: 100%;
align: center;
margin: auto;
color: #e6faff;
background-color: #005266;
border-radius: 20px;
text-align: center;
border: 2px solid white;
}

.session_data_table {
margin: auto;
padding:20px;
margin-top: 20px;
margin-bottom: 20px;
align: center;
width: 98%;
border: 2px solid white;
color: white;
border-radius: 10px;
background-color: #e79fe6;
text-align: center;
}

.session_data_table tr {
background-color: #005266;
color: #33ddff;
border-radius: 10px;
}

.session_data_table td {
border-radius: 6px;
}


