#app {
    text-align: center;    
}

.app{
    height: 100vh;
}

.app-grid{    
    display: grid;       
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;      
    gap: 0px;
    height: 100%;    
}
.headerWrapper{
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 17;
}

.contentWrapper {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-end: 9;
    
}

.footerWrapper{
    grid-row-start: 9;
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-end: 10;
}
.content{
    text-align: center;
}

.header{
    display: flex;
    padding: 0px;
    --wails-draggable:drag;
}

.flex-content{
    flex: 1;
}
.footer {
    display: flex;
    margin-inline: 2em;
}

.leftFooter{
    display: flex;
}
.rightFooter{
    display: flex;
}

.presentation{
    width: 400px;
    height: 300px;
    background-color: rgba(22,57, 255, .2);
    box-shadow: inset 0 0 10px rgba(58, 158,255, .8);
    margin-inline: 1em;
    border-radius: 1em;
    padding: 0.5em;
}

.presentationButtons{
    display: grid;
    justify-content: center;
    grid-template-rows: auto;    
}

.presentationButtons button{
    width: 100px;
    grid-area: auto;
    background-color: floralwhite;
}

.room-nav{
    display: flex;
    flex-direction: column;
    
    margin-inline: auto;
    width: 200px;
}

.room-nav option{
    text-align: center;    
}

.refreshFilesWrapper{
    overflow: auto;    
    width:90%;
    margin: 0em auto;
}

.refreshFilesWrapper::-webkit-scrollbar{
    width: 1em;    
}

.refreshFilesWrapper::-webkit-scrollbar-track{
    
    background-color: rgba(58, 158,255, .5);
    border-radius: 2em;
}

.refreshFilesWrapper::-webkit-scrollbar-thumb{
    background-image: linear-gradient(rgba(22, 57,255, .2), rgba(22,57, 255, .8));
    border-radius: 2em;
}

.refreshFilesList{    
    background-image: linear-gradient(rgba(58, 158,255, .4), rgba(22,57, 255, .6));    
    border-radius: 1em;
    box-shadow: inset 0 0 10px rgba(58, 158,255, .8);
}

.fileListPresentation{ 
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 0.5em 0;
}
.refreshPresentations{    
    display: flex;    
    width: 95%;
    height: 95;
    margin: 1em auto;
    border-radius: 1em;
}

.presentations{
    display: flex;
    justify-content: center;
}

.presentationList{
    display: flex;
    flex: 1;
    flex-direction: column;
    
}

.fileList{
    display: flex;
    flex: 1;
    justify-content: center;
}

.fileListItems{
    border-radius: 1em;
    background-color: rgba(22,57, 255, .2);
    box-shadow: inset 0 0 10px rgba(58, 158,255, .8);
    padding: 1em;
    margin: 1em;
}

.fileListWrapper{
    margin: auto 0;
}

.closeButton{
    margin-left: 10px;
    background-color: #922B21;
    padding: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border-style: none;    
}

.closeButton:hover{
    background-color: #E74C3C;
}

.minimizeButton{
    margin-left: 10px;
    background-color: #D4AC0D;
    padding: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border-style: none;    
}

.minimizeButton:hover{
    background-color: #F7DC6F;
}

.maximizeButton{
    margin-left: 10px;
    background-color: #355E3B;
    padding: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border-style: none;    
}

.maximizeButton:hover{
    background-color: #50C878;
}

.chatboxWrapper{
    width:90%;
    height: 90%;
    margin: auto auto;
    background-color: rgba(22,57, 255, .2);
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-end: 10;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.chatbox{
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-end: 7;
    box-shadow: inset 0 0 10px rgba(58, 158,255, .8);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    overflow-y: auto;
    flex-grow: 1;
}

.userChat{
    display: grid;
    height: 150px;
    grid-row-start: 7;
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-end: 2;
    box-shadow: inset 0 0 10px rgba(58, 158,255, .8);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.userChatName{
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-end: 2;
}
.userChatInput{
   display: grid;
    grid-row-start: 1;
    grid-column-start: 4;
    grid-column-end: 16;
    grid-row-end: 2;   
}

.sendHelpText{
    display: grid;
    grid-row-start: 1;
    grid-column-start: 16;
    grid-column-end: 17;
    grid-row-end: 2;    
}

.chatboxText{
    text-align: start;
    margin: auto auto;
    height: 95%;
    width: 90%;
    overflow-y: auto;
}

.chatboxText::-webkit-scrollbar{
    width: 1em;
    
}
.chatboxText::-webkit-scrollbar-track{    
    background-color: rgba(58, 158,255, .5);
    border-radius: 2em;
    
}

.chatboxText::-webkit-scrollbar-thumb{
    background-image: linear-gradient(rgba(22, 57,255, .6), rgba(22,57, 255, .8));
    border-radius: 2em;   
    height: 50px;
}

.sendHelpButton{
    margin: auto  auto auto;
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient( 90deg, rgba(22,57, 255, .2),  rgba(22,57, 255, .8));
    height: 50%;
    color: white;
    border-style: none;
    
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.sendHelpButton:hover{
    background-image: linear-gradient( 90deg, rgba(58, 158,255, .4),  rgba(58, 158,255, 1));
}

.chatIdentifier{
    margin: auto 0 0 0;
}

.helpUserText{
    margin: auto auto 0 0;
}